AdapterPatern/.vs/AdapterPatern/FileContentIndex/21fc2fa0-b3b7-42d7-950a-590dcc335acf.vsidx
AdapterPatern/.vs/AdapterPatern/FileContentIndex/2297c249-9dad-4357-9d74-1202ad834a84.vsidx
AdapterPatern/.vs/AdapterPatern/FileContentIndex/7315ecdd-b2c2-4092-b47f-67b41cbfc7f1.vsidx
AdapterPatern/.vs/AdapterPatern/FileContentIndex/8dae5c39-1bc3-43a6-9b01-da05b667109b.vsidx
AdapterPatern/.vs/AdapterPatern/FileContentIndex/9e724fa2-3f25-472b-9c9d-44bc14b27766.vsidx
